@tailwind base;
@tailwind components;
@tailwind utilities;

#product-box {
    display: flex !important;
}

.slick-slide div {
    margin: 10px;
}

.slick-arrow::before {
    color: #ff5a1f;
    font-size: 50px;
}

.slick-prev {
    left: -40px;
}

.slick-next {
    right: -30px;
}